.testimonial-card {
    background-color: #fbdabb;
    text-align: center;
    text-wrap: wrap;
    padding: 1rem 3rem 0 3rem;
    width: 80vw;
    height: 180px;
    position: relative;
    box-shadow: 0 0 10px 1px #8c8c8c;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.fa-star {
    font-size: 0.7rem;
}

.testimonial-comment {
    font-size: 0.5rem;
    font-weight: 500;
    font-style: italic;
}

.testimonial-name{
    font-size: 0.5em;
    font-weight: 700;
    color: #646464;
}

@media only screen and (min-width: 768px) {
    .testimonial-card {
        width: 70vw;
        padding: 1rem 5rem 0 5rem;
        height: 200px;
    }

    .testimonial-comment {
        font-size: 1rem;
    }

    .testimonial-name{
        font-size: 1em;
    }
}