.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

Main {
  flex: 1;
  position: relative;
}

Header {
  background-color: pink;
}

Footer{
  background-color: pink;
}

* {
  color: #333;
  font-family: 'Karla';
  letter-spacing: 0.05rem;
}
